
PORT=5000
SUPABASE_URL=https://cucbpmkuuqhvzpdvkknz.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImN1Y2JwbWt1dXFodnpwZHZra256Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM1NjUzNjcsImV4cCI6MjA4OTE0MTM2N30.HvR8tIHnujyGVdDqn1I3z8rq9E-B_bxWMslHhfWCLk0
JWT_SECRET=Saq1qNogjfNa5H33G6QClLhx9m2KcdgmcyYYfdG6D6kiGbtjIM9/G3DyiilvaIbF9a1v8RVbToUHXCM0Lk6Uag==
